{
  "test": ".*.ts$",
  "jsc": {
    "experimental": {
      "plugins": [
        [
          "jest_workaround",
          {}
        ]
      ]
    },
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    }
  },
  "module": {
    "type": "commonjs"
  }
}
